// Animations
$ease-out: cubic-bezier(.16, .65, .45, .84);
$ease-in-out: cubic-bezier(.40, .10, .60, .90);
$duration-fast: 0.1s;
$duration-medium: 0.3s;

$width-content: 75%;
$height-search-results: 320px;

